    <div class="container">

        <header class="header">
            <img class="logo" src="/public/img/logo.png" />
        </header>
    
        <div class="hero">
            <h1> Privacy Policy </h1>
            <br>
        </div>   

        <div class="privacy">
            <p>I am committed to protecting your privacy. I will only use the information that I collect about you lawfully (in accordance with the Data Protection Act 1998, California Online Privacy Protection Act 2003, GDPR, and PIPEDA).</p>
            <p>I may collect information about you to respond to any queries which you may have.</p>
            <p>I will give you the chance to refuse any marketing email from me in the future.</p>
            <p>The type of information I may collect about you includes: </p>
            <ul> 
                <li>Your name</li>  
                <li>Your email address</li>  
            </ul>
            
            <p>The information I hold will be accurate and up to date. You can check the information that I hold about you by emailing me. If you find any inaccuracies I will delete or correct it promptly.</p>
            <p>The personal information which I hold will be held securely in accordance with my internal security policy and the law.</p>
            <p>If I make any material changes to this Privacy Policy, I will notify you either via the email address you have provided me, or by placing a prominent notice on my <a href="https://www.joeyswolltraining.com">website</a>.</p>
            <p>If you have any questions/comments about privacy, you should <a href="mailto:devinphysiqueonline@gmail.com">contact me</a>.</p>
            
        </div>
        
        <div class="btn-box">
            <a class="button thanks" href="/">Back to Application<a>
        </div>

    </div> 

    <footer class="footer">
        <div class="container">
            <p>&copy; 2019 Devin Physique | <a href="/privacy">Privacy</a></p>
        </div>
    </footer>

<script>
    // Click event
$(".thanks").on("click", () => {
    
});
</script>