    <div class="container">

        <header class="header">
            <img class="logo" src="/img/logo.png" />
        </header>
    
        <div class="hero">
            <h1> Thank You! </h1>
            <br>
        </div>   

        <div class="content">
            <p>
                I'll get back to you within 48 hours. In the meantime, feel free to check out my site.

                <div class="btn-box">
                    <button class="button thanks">Go</button>
                </div>
            </p>
        </div>
    </div> 

<script>
    // Click event
$(".thanks").on("click", () => {
    
});
</script>