    <div class="container">

        <header class="header">
            <img class="logo" src="/public/img/logo.png" />
        </header>
    
        <div class="hero">
            <h1> Thank You! </h1>
            <br>
        </div>   

        <div class="content">
            <p>
                I'll get back to you within 24 hours. In the meantime, feel free to check out my site.

                <div class="btn-box">
                    <a class="button" href="https://www.devinphysique.coach">Go<a>
                </div>
            </p>
        </div>
    </div> 

    <footer class="footer">
        <div class="container">
        <p>&copy; 2019 Devin Physique | <a href="/privacy">Privacy</a></p>
        </div>
    </footer>

<script>
  
</script>