.form {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px 20px;
    margin: 10px;
}

/* Form Group */
.question {
    width: 100%;
    position: relative;
    padding: 10px 0px 0px 0px;
    margin-top: 5px;
}

/* //////////////////////////////////// */
/* INPUT FIELDS */

.form-inputs {
    background: rgb(53, 51, 51);
    border: none;
    font-size: 12pt;
    padding: 10px 10px 10px 10px;
    margin:0px;
    width: 100%;
    height: 20px;
    color: white;
    border-radius: 5px;
    height: calc(3em + 2px);

}

input:focus {
    outline: none;
}


/* //////////////////////////////////// */
/* RADIO BUTTONS */

/* The container that holds the radio option*/
.option {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(53, 51, 51);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.option:hover input ~ .checkmark {
    background-color: #c6242b;
}

/* When the radio button is checked, add a blue background */
.option input:checked ~ .checkmark {
    background-color: #c6242b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "-";
    position: absolute;
    display: none;
    font-size: 8pt;
    text-align: center;
}

/* Show the indicator (dot/circle) when checked */
.option input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.option .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
    background: #212121;
}

/* //////////////////////////////////// */
/* CHECK MARK */

.checkbox-container{
    display: flex;
  }
  
  input[type='checkbox'] {
    display:inline-block;
    /* margin: 0 auto; */
    margin-bottom: 10px;
    -webkit-appearance: button;
    border:none;
    background-color: rgb(53, 51, 51);
    width: 45px;
    height: 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    transition: background-color .5s;
  }
  input[type='checkbox']:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 80%;
    background-color: #fdfdfd;
    margin: 4%;
    border-radius: 3px;  
    background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgba(0,0,0,.2)',GradientType=0 );
  
   transition: .5s all;
  }
  
  input[type='checkbox']:checked{
    background-color: #c6242b;
  } 
  
  input[type='checkbox']:checked:after {
    left: 45%;
  }

/* ///////////////////////////// */
/* TEXTAREA */

textarea {
    width: 100%;
    height: 75px;
    padding: 5px;
    background-color: rgb(53, 51, 51);
    color: white;
    font-family: "Open sans";
    font-size: 16px;
    border-radius: 5px;
    border: none;

}

textarea:focus {
    outline: none;
}